@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
<<<<<<< HEAD:src/App.css
=======
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

>>>>>>> 4e4193f5 (FRO-28: create contact info):src/Style/App.scss


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	background: #fafafb;
	font-family: "Work Sans", sans-serif;
<<<<<<< HEAD:src/App.css
}
  
.App {
	text-align: center;
}
=======
	width:100%;
}
  
// .App {
// 	text-align: center;
// }
>>>>>>> 4e4193f5 (FRO-28: create contact info):src/Style/App.scss

.App-logo {
	height: 40vmin;
	pointer-events: none;
}


.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

